* {
  box-sizing: border-box;
}

html {

}

body {
  background-color: #afabd8;
}

.container {
  margin-top: 50px;
}

h1 {

}

section {

}

.data {
  float: left;
  height: auto;
  width: 30%;
  text-align: center;
}

.scores-list {
  list-style-type: none;
  padding: 0;
}

.moves {
  padding-bottom: 30px;
}

.matches {
  padding-bottom: 30px;
}

.star-rating {
  padding-bottom: 30px;
}

p {

}

#reset-button {
}

.cards {
  width: 500px;
  min-height: 450px;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  /*justify-content: space-between;*/
  align-items: center;
  /*margin: 0 auto;*/
  background-color: #041486;
}

.card {
  border: 1px solid black; /* need to remove */
  width: 115px;
  height: 115px;
  background-color: #5775c1;
  justify-content: center;
  margin: 5px;
  align-items: center;
  display: flex;
  font-size: 0;
}

/* If card is faced up, how to display that */
.card.up {
  transform: rotateY(0);
  font-size: 3em;
}

/* If card if faced down how to show that */
.card.down {
  font-size: 0;
}

/* If card is a match, how to dispaly it */
.card.match {
  opacity: 0.2;
}

.modal {
    display: none;; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    text-align: center;
    align-items: center;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media screen and ( max-width: 750px ) {
  .data {
    display: flex;
    flex-direction: column;
  }
  .cards {
    margin: 0 auto;
  }
}

@media screen and ( max-width: 530px ) {
  .cards {
    width: 450px;
  }
  .card {
    width: 100px;
    height: 100px;
  }
}
